# Virtual Environment
venv/

# Python
__pycache__/
*.pyc

# Environment Variables
.env

# Storage
storage/uploads/
storage/generated_excels/

# IDE 
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log